<xng-breadcrumb class="mb-3"></xng-breadcrumb>
<div class="container">
  <div class="row">
    <div class="border p-4">
      <h5 class="ternary-color mb-3">All Quizzes</h5>
      <app-list
        class="w-75 m-5 mx-auto"
        [headers]="columns"
        [data]="paginatedQuizList"
        [isPaginated]="true"
        (handleViewEvent)="onViewAction($event)"
        (handleReAssignEvent)="onAssignAction($event)"
        (handleDeleteEvent)="onDeleteAction($event)"
        [length]="length"
        [pageIndex]="pageIndex"
        (handlePageEvent)="onPaginationAction($event)"
      >
      </app-list>
    </div>
  </div>
</div>