<section class="auth">
  <div
    class="container-fluid auth-container d-flex align-items-center justify-content-center"
  >
    <div class="row px-5 py-2 auth-box w-100">
      <div class="col-lg-6">
        <div class="logo mb-5">
          <img src="../../../../assets/images/Logo-white.svg" alt="logo" />
        </div>
        <router-outlet></router-outlet>
      </div>
      <div class="col-lg-6 d-lg-block d-none">
        <div class="img-part">
          <img
            class="w-75"
            src="../../../../assets/images/Login Image.png"
            alt="login-img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
