<section>
  <div class="container">
    <h3 class="quaternary-color">
      Continue your learning journey with QuizWiz!
    </h3>

    <div class="my-4 d-flex gap-5">
      <span
        class="sign-icon p-2"
        routerLink="/auth/login"
        routerLinkActive="active"
      >
        <mat-icon>person</mat-icon>
        <p class="main-color m-0">Sign In</p>
      </span>
      <span
        class="sign-icon p-2"
        routerLink="/auth/register"
        routerLinkActive="active"
      >
        <mat-icon>person_add</mat-icon>
        <p class="main-color m-0">Sign Up</p>
      </span>
    </div>

    <div class="login-form">
      <form [formGroup]="loginForm" class="form row">
        <!-- Email Field -->

        <mat-form-field
          appearance="outline"
          class="w-100 mb-3"
          hideRequiredMarker
        >
          <mat-label>Email</mat-label>
          <input
            type="email"
            formControlName="email"
            matInput
            placeholder="Enter your email"
            [errorStateMatcher]="matcher"
          />
          <mat-icon matPrefix>email</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
          <mat-error
            *ngIf="
              loginForm.controls.email.touched &&
              loginForm.controls.email.errors
            "
          >
            <ng-container *ngIf="loginForm.controls.email.errors['required']">
              Email is required
            </ng-container>
            <ng-container *ngIf="loginForm.controls.email.errors['email']">
              Please enter a valid email!
            </ng-container>
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="w-100 mb-4"
          hideRequiredMarker
        >
          <mat-label>Password</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            matInput
            placeholder="Enter your password"
          />
          <mat-icon matPrefix>key</mat-icon>
          <mat-icon class="text-white" matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error
            *ngIf="
              loginForm.controls.password.touched &&
              loginForm.controls.password.errors
            "
          >
            <ng-container
              *ngIf="loginForm.controls.password.errors['required']"
            >
              Password is required
            </ng-container>
            <ng-container
              *ngIf="loginForm.controls.password.errors['minlength']"
            >
              Password must be at least 6 characters.
            </ng-container>
          </mat-error>
        </mat-form-field>

        <!-- Submit Button -->
        <div class="text-center">
          <div
            class="d-flex col-md-12 justify-content-between align-items-center"
          >
            <a
              class="rounded-3 bg-white text-dark fw-bold custom-fab"
              (click)="submit()"
            >
              Sign In
              <mat-icon class="bg-dark rounded-circle fs-12">check</mat-icon>
            </a>
            <a class="text-white" routerLink="/auth/forgetPassword"
              >Forget password ?
              <span class="quaternary-color">click here</span></a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
