<section>
  <div class="container">
    <h3 class="quaternary-color mb-5">Reset Password</h3>

    <div>
      <form
        [formGroup]="resetPassForm"
        (ngSubmit)="resetPass(resetPassForm)"
        class="row"
      >
        <mat-form-field
          class="w-100 mb-3"
          appearance="outline"
          hideRequiredMarker
        >
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Enter your email"
          />
          <mat-icon matSuffix>mail</mat-icon>

          <mat-error *ngIf="email?.hasError('email')">
            Please enter a valid email address
          </mat-error>

          <mat-error *ngIf="email?.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
        <mat-form-field
          class="w-100 mb-3"
          appearance="outline"
          hideRequiredMarker
        >
          <mat-label>Verification code</mat-label>
          <input
            formControlName="otp"
            matInput
            placeholder="Enter your verification code"
          />
          <mat-icon matSuffix>password</mat-icon>

          <mat-error *ngIf="otp?.hasError('required')">
            verification code is required
          </mat-error>
        </mat-form-field>
        <mat-form-field
          class="w-100 mb-3"
          appearance="outline"
          hideRequiredMarker
        >
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            placeholder="Enter your new password"
          />
          <mat-icon matSuffix>key</mat-icon>

          <mat-error *ngIf="password?.hasError('pattern')">
            password should be 6 character length & include at least one special
            character
          </mat-error>

          <mat-error *ngIf="password?.hasError('required')">
            password is required
          </mat-error>
        </mat-form-field>
        <mat-form-field
          class="w-100 mb-4"
          appearance="outline"
          hideRequiredMarker
        >
          <mat-label>Confirm password</mat-label>
          <input
            formControlName="confirmPassword"
            matInput
            placeholder="confirm your password"
          />
          <mat-icon matSuffix>key</mat-icon>

          <mat-error *ngIf="confirmPass?.hasError('notSame')">
            confirm password doesn't match with password
          </mat-error>

          <mat-error *ngIf="confirmPass?.hasError('required')">
            confirm password is required
          </mat-error>
        </mat-form-field>
        <div
          class="d-flex col-md-12 justify-content-between align-items-center"
        >
          <button
            type="submit"
            class="rounded-3 bg-white text-dark fw-bold custom-fab"
            [disabled]="resetPassForm.invalid"
          >
            Reset
            <mat-icon class="bg-dark rounded-circle fs-12">check</mat-icon>
          </button>
          <a class="text-white" routerLink="/auth/login">Back to login?</a>
        </div>
      </form>
    </div>
  </div>
</section>
