<section>
  <div class="container">
    <h3 class="quaternary-color mb-5">Forget Password</h3>

    <div>
      <form
        class="row form"
        [formGroup]="forgetPassForm"
        (ngSubmit)="forgetPass(forgetPassForm)"
      >
        <mat-form-field class="w-100" appearance="outline" hideRequiredMarker>
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Enter your email"
            hideRequiredMarker
          />
          <mat-icon matPrefix>mail</mat-icon>

          <mat-error *ngIf="email?.hasError('email')">
            Please enter a valid email address
          </mat-error>

          <mat-error *ngIf="email?.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>

        <div class="d-flex justify-content-between align-items-center">
          <button
            type="submit"
            class="rounded-3 bg-white text-dark fw-bold custom-fab"
            [disabled]="forgetPassForm.invalid"
          >
            Send email
            <mat-icon class="bg-dark rounded-circle fs-12">check</mat-icon>
          </button>
          <a class="text-white" routerLink="/auth/login">Back to login?</a>
        </div>
      </form>
    </div>
  </div>
</section>