<section>
  <div class="container p-4">
    <div
      class="d-flex justify-content-center align-items-center flex-column gap-4 w-100"
    >
      <span class="bg-ternary-color main-color rounded-circle p-2">
        <mat-icon>check</mat-icon>
      </span>
      <div mat-dialog-content class="w-75">
        <p class="ternar-color text-center m-0">Student joined successfully</p>
      </div>
      <div mat-dialog-actions>
        <a
          class="bg-quaternary-color ternar-color rounded-3 pointer px-3 p-2"
          (click)="openQuiz()"
          >Open</a
        >
      </div>
    </div>
  </div>
</section>
