<app-modal-action-header
  title="Change Password"
  [isSubmit]="true"
  [isClose]="true"
  (onSubmit)="onSubmit()"
  (onClose)="onClose()"
></app-modal-action-header>

<form [formGroup]="changePasswordForm" class="p-4">
  <mat-form-field
    class="w-100 input-prefix-label-container mb-2"
    appearance="outline"
  >
    <div matTextPrefix class="input-prefix-label">Password</div>
    <input matInput type="password" formControlName="password" />

    <mat-error
      *ngIf="
        changePasswordForm.controls.password.touched &&
        changePasswordForm.controls.password.errors
      "
    >
      <ng-container
        *ngIf="changePasswordForm.controls.password.errors['required']"
      >
        Password is required
      </ng-container>
    </mat-error>
  </mat-form-field>

  <mat-form-field
    class="w-100 input-prefix-label-container mb-2"
    appearance="outline"
  >
    <div matTextPrefix class="input-prefix-label">New password</div>
    <input matInput type="password" formControlName="password_new" />

    <mat-error
      *ngIf="
        changePasswordForm.controls.password_new.touched &&
        changePasswordForm.controls.password_new.errors
      "
    >
      <ng-container
        *ngIf="changePasswordForm.controls.password_new.errors['required']"
      >
        New password is required
      </ng-container>
    </mat-error>
  </mat-form-field>
</form>
