$default-color: #000;
$main-color: #fff;
$secondary-color: #ffeddf;
$ternary-color: #0d1321;
$quaternary-color: #7cb342;
$gray-color: rgba(0, 0, 0, 0.2);
$border-radius-15: 15px; 
$border-radius-8: 8px; 
